<div class="welcome">
  <h1>Happy Cleaning Day!</h1>
  <h2>Press the button below to begin housecleaning for today.</h2>
  <h3 class="welcome-button"><%= link_to "Begin!", schedules_new_path %></h3>
  <h3><%= link_to "Past Schedules", schedules_path %></h3>
</div>
